{%  load static %}

<!doctype html>
<html lang="en" class="text-white bg-gray-700">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>

  <body>
<div class="min-h-screen">

    <header class="bg-gray-900">
        <div class="flex items-center justify-between px-4 py-3">
            <div>
                <h4 class="text-gray-300">TASKMASTER</h4>
            </div>
            <div>
                <button type="button" class=" block text-gray-500 focus:text-white focus:outline-none hover:text-white">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
        </div>
        <div class="px-2 pt-2 pb-4">
            <a class="block font-semibold hover:bg-gray-800 rounded px-2 py-1" href="#">Create Account</a>
            <a class="block font-semibold hover:bg-gray-800 rounded px-2 py-1" href="#">Share Task</a>
            <a class="block font-semibold hover:bg-gray-800 rounded px-2 py-1" href="#">Invite A Friend</a>
        </div>
    </header>

  <div id="projects" class="p-6">
      <div id="projectsApp" class="grid grid-flo-col md:grid-cols-3 grid-cols-1 grid-rows-2 gap-2">


          {% for project in view.projects %}


          <div class="project-card h-auto">
              <div class="bg-gray-600 p-2">{{ project.name }}</div>
              <div class=" divide-y divide-gray-900">
                  <div class="grid grid-flo-col lg:grid-cols-2 grid-cols-1 gap-2 p-2">
                      <div class="tasks bg-blue-600 rounded relative shadow">
                          <div class="bg-blue-800 px-2 py-2 md:py-0">
                              <h3 class="text-base py-2 ">Tasks</h3>
                              <div class="absolute top-2 right-2 h-5 w-5 cursor-pointer "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                </svg>
                              </div>
                              <form class="newTask relative md:flex md:flex-wrap md:justify-between" action="/" method="post">
                              <div class="flex flex-col mb-2 md:w-full">
                                <input class="pr-8 text-black bg-gray-300 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-1 px-2 block w-full appearance-none leading-normal" type="email" name="email" id="email">
                                  <div class="absolute top-2 right-2 h-5 w-5 cursor-pointer text-blue-800 hover:text-blue-600"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                </svg>
                              </div>
                              </div>
                            </form>
                          </div>
                          <div class="tasks-well p-4 divide-y divide-blue-400">
                              {% for task in project.tasks.all %}
                              <p data-id="{{ task.id }}" class="task cursor-pointer leading-loose text-sm">{{ task.name }}</p>
                              {% endfor %}
                          </div>
                      </div>
                       <div class="tasks bg-yellow-500 rounded relative shadow">
                           <div class="bg-yellow-600 px-2 py-2 md:py-0">
                              <h3 class="text-base py-2">Resources</h3>
                              <div class="absolute top-2 right-2 h-5 w-5 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                </svg>
                              </div>
                            <form class="newTask md:flex md:flex-wrap md:justify-between" action="/" method="post">
                              <div class="flex flex-col mb-2 md:w-full relative">
                                <input name="resourceURL" placeholder="URL" class="pr-8 text-black bg-gray-300 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-1 px-2 block w-full appearance-none leading-normal" type="url">
                                  <div class="absolute top-2 right-2 h-5 w-5 cursor-pointer text-yellow-800 hover:text-yellow-600"><div xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"></div>
                                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </div>
                              </div>
                              <div class="flex flex-col mb-2 md:w-full mt-1 relative">
                                <input type="text" name="resourceName" placeholder="Label" class="pr-8 text-black bg-gray-300 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-1 px-2 block w-full appearance-none leading-normal">
                                  <div class="absolute top-2 right-2 h-5 w-5 cursor-pointer text-yellow-800 hover:text-yellow-600"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                </svg>
                              </div>
                              </div>
                            </form>
                           </div>
                           <div class="resources  p-4 divide-y divide-yellow-600">
                               {% for resource in project.resources.all %}
                              <p data-id="{{ resource.id }}" class="resource cursor-pointer leading-loose text-sm"><a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a></p>
                              {% endfor %}
                           </div>
                      </div>
                  </div>
              </div>
          </div>


          {% endfor %}


          <div class="project-card h-auto">
              <div class="bg-gray-600 p-2">Add A Project</div>
              <div class=" divide-y divide-gray-900">
                  <div class="" id="createProject">
                       <div class="w-full rounded m-2 px-4 md:max-w-sm md:mx-auto">
                        <form id="newProject" class="mb-4 md:flex md:flex-wrap md:justify-between" action="/" method="post">
                          <div class="flex flex-col mb-4 md:w-full">
                            <label class="mb-2 text-sm text-grey-darkest" for="email">Project Name</label>
                            <input class="text-black bg-gray-300 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none leading-normal" type="email" name="email" id="email">
                          </div>
                        </form>
                           <button class="block bg-blue-600 hover:bg-blue-700 text-white text-lg mx-auto  px-6 rounded focus:outline-none" type="submit">Add</button>
                       </div>
                  </div>
              </div>
          </div>


      </div>
  </div>
</div>

   <script src="https://unpkg.com/vue@next"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  </body>

</html>